# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\SchiggzzMain\ownCloud\Studium\WiSi 20 21\Java 1\Projektarbeit\Code1\Yatzy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
